{% load static %}

{% load cms_tags %}
{% load sekizai_tags %}
{% load l10n %}
{% load thumbnail %}

{% load djangocms_slick_slider_utils %}

{% addtoblock 'css' %}

    <link rel="stylesheet" type="text/css" href="{% static 'slick-'|add:settings.SLICK_SLIDER_VERSION|add:'/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick-'|add:settings.SLICK_SLIDER_VERSION|add:'/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/djangocms_slick_slider.css' %}">

    <style type="text/css">
        .slick-prev:before,
        .slick-next:before {
            color: {{ instance.arrow_color }}!important;
        }
        .single-image img {
            width: 99%;
            margin: 0 auto; /* it centers any block level element */
        }
    </style>

{% endaddtoblock %}

<div id="slider-wrapper">
    <div class="image-slider">
        {% for image in images %}
        <div class="single-image">
            {% thumbnail image.image child_width crop=False upscale=True as thumb %}
            <img data-lazy="{{ thumb.url }}">
            {% if image.caption_text %}
                <div class="slider-caption-text">
                {{image.caption_text|linebreaks}}
                </div>
            {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% addtoblock 'js' %}

    <script type="text/javascript" src="{% static 'slick-'|add:settings.SLICK_SLIDER_VERSION|add:'/slick.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.image-slider').slick({{ instance.settings|jsonify }});
        });
    </script>

{% endaddtoblock %}